{% load static %}
{% block content %}

<h3>{{ user.nama }}</h3>
<h3>{{ user.email }}</h3>
<h3>{{ user.nomorTelf }}</h3>
<h3>{{ user.role }}</h3>
{% if user.role == "pembeli" %}
<h1>Halo</h1>
{% endif %}
<a class="nav-link active" href="{% url 'signup:sign_out' %}">Sign Out<span class="sr-only">(current)</span></a>
{% endblock %}