{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<style>
    body {
        background-color: #E5E5E5;
        font-family: 'Josefin Sans', sans-serif;
        word-wrap: break-word;
    }
    #signin-container {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        background-color: #FFF;
        border: 2px solid black;
        border-radius: 10px;
        padding: 5%;
    }
    #signin-title {
        display: flex;
        justify-content: center;
    }
    #signin-title > text {
        font-size: 200%;
    }
    #hr-line {
        width: 95%;
    }
    #signin-form {
        display: flex;
        flex-direction: column;
    }
    #signin-form > .container {
        margin-bottom: 5%;
    }
    .form-text, .input-field {
        width: 100%;
    }
    #id-submit {
        background-color: #27187E;
        color: white;
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;
        float: right;
    }
    .error {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<div id="signin-container">
    <div id="signin-title">
        <text>SIGN IN</text>
    </div>
    <div>
        <hr id="hr-line">
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div id="signin-form">
                <div class="container">
                    <div class="form-text">
                        <text>Nama</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-username" type="text" name="nama" autocomplete="off" maxlength="200" required>
                    </div>
                </div>
                <div class="container">
                    <div class="form-text">
                        <text>PASSWORD</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-password" type="password" name="password" autocomplete="off" maxlength="200" required>
                    </div>
                </div>
                <div class="container">
                    <div id="container-submit">
                        <input id="id-submit" type="submit" value="MASUK">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}