{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    <style>
        #signup-container {
            	display: flex;
                flex-direction: column;
            	margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 5%;
            	background-color: #FFF;
            	border: 2px solid black;
                border-radius: 10px;
                padding: 5%;
            }
            #signup-title {
            	display: flex;
                justify-content: center;
            }
            #signup-title > text {
            	font-size: 200%;
            }
            #hr-line {
            	width: 95%;
            }
            #signup-form {
            	display: flex;
                flex-direction: column;
            }
            #signup-form > .container {
            	margin-bottom: 5%;
            }
            .form-text, .input-field {
            	width: 100%;
            }
            #id-submit {
            	background-color: #FF8600;
            	color: #F1F2F6;
                padding: 1%;
                padding-left: 5%;
                padding-right: 5%;
                float: right;
            }
            .error {
                color: red;
            }
    </style>
    <title>Sign Up</title>
{% endblock %}
{% block content %}
<div id="signup-container">
    
    <div id="signup-title">
        <text>SIGN UP</text>
    </div>
    <div>
        <hr id="hr-line">
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div id="signup-form">
                <div class="container">
                    <text>Peran : </text>
                    <select name="role" type = "text">
                        <option value="pembeli">Pembeli</option>
                        <option value="penjual">Penjual</option>
                    </select>
                </div>
                <div class="container">
                    <div class="form-text">
                        <text>Nama</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-name" type="text" name="nama" autocomplete="off" maxlength="100" required autofocus>
                    </div>
                </div>
                <div class="container">
                    <div class="form-text">
                        <text>No Telefon</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-email" type="text" name="nomorTelf" autocomplete="off" required maxlength="255">
                    </div>
                </div>
                <div class="container">
                    <div class="form-text">
                        <text>E-mail</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-email" type="email" name="email" autocomplete="off" required maxlength="255">
                    </div>
                </div>
                <div class="container">
                    <div class="form-text">
                        <text>Password</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-password" type="password" name="password1" autocomplete="off" maxlength="200" required>
                    </div>
                    <div>
                        <ul id="password-helptext">
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                    <div class="form-text">
                        <text>KONFIRMASI PASSWORD</text>
                    </div>
                    <div>
                        <input class="input-field" id="id-password-confirmation" type="password" name="password2" autocomplete="off" maxlength="200" required>
                    </div>
                </div>
                <div class="container">
                    <div id="container-submit">
                        <input id="id-submit" type="submit" value="DAFTAR">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}