{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %}

    {% endblock %}
    <style>
        .logo{
            width: 25px;
            height: 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-3 mb-5" id="navigation" style='background-color: white;'>
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">ehPasar</a>
        <!--<a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/.png' %}" alt="" id="logo">
        </a>-->
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            {% block nav %}
            <a class="nav-link nav-item" href="#">History</a>
            <a class="nav-link nav-item" href="{% url 'wishlist:wishlist' %}">Wishlist</a>
            <a class="nav-link nav-item" href="{% url 'listfavorit:listfavorit' %}">List Favorit</a>
            <a class="nav-link nav-item" href="#"><img src="{% static 'img/Keranjang.jpg' %}" alt="" class="logo"></a>
            <a class="nav-link nav-item" >Halo, {{ user.nama }}</a>
            <a class="nav-link nav-item" href="{% url 'signup:sign_out' %}">Sign out</a>
            {% endblock %}
        </div>
    </div>
    </nav>
{% block content %}


{% endblock %}
<script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navigation");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>
</body>
</html>