{% extends 'navbar_1.html' %}
{% load postdetailsFilter %}
{% block title %}
    <title>ehPasar </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            box-sizing: border-box;
          }
          body {
            font-size: 14px;
          }
          .v29_358 {
            width: 100%;
            height: 1971px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;
          }
          .v29_376 {
            width: 274px;
            height: 171px;
            background: url("../images/v29_376.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 1047px;
            left: 57px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            overflow: hidden;
          }
          .v29_377 {
            width: 169px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 1047px;
            left: 376px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v29_378 {
            width: 162px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 1155px;
            left: 376px;
            font-family: Roboto;
            font-weight: Bold;
            font-size: 35px;
            opacity: 1;
            text-align: left;
          }
          .v29_379 {
            width: 57px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 1101px;
            left: 376px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v29_382 {
            width: 270px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 171px;
            left: 716px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 64px;
            opacity: 1;
            text-align: center;
          }
          .v29_390 {
            width: 331px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 1384px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_392 {
            width: 307px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 316px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_398 {
            width: 262px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 973px;
            left: 57px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_393 {
            width: 184px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 390px;
            left: 57px;
            font-family: Roboto;
            font-weight: Bold;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v31_394 {
            width: 203px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 448px;
            left: 57px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v31_395 {
            width: 639px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 506px;
            left: 57px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v31_405 {
            width: 288px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 850px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v31_406 {
            width: 75px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 850px;
            left: 362px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v31_408 {
            width: 135px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 850px;
            left: 827px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v31_407 {
            width: 245px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 850px;
            left: 566px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: left;
          }
          .v29_391 {
            width: 314px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 614px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v29_384 {
            width: 136px;
            color: rgba(255,170,1,1);
            position: absolute;
            top: 191px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v29_385 {
            width: 16px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 191px;
            left: 199px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v29_386 {
            width: 185px;
            color: rgba(255,170,1,1);
            position: absolute;
            top: 191px;
            left: 227px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v29_387 {
            width: 16px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 191px;
            left: 419px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v29_388 {
            width: 148px;
            color: rgba(255,170,1,1);
            position: absolute;
            top: 191px;
            left: 445px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .v29_389 {
            width: 16px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 191px;
            left: 603px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 30px;
            opacity: 1;
            text-align: center;
          }
          .name {
            color: #fff;
          }
          .name {
            color: #fff;
          }
          .name {
            color: #fff;
          }
          .name {
            color: #fff;
          }
          .name {
            color: #fff;
          }
          .v31_412 {
            width: 137px;
            height: 145px;
            background: url("../images/v31_412.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 677px;
            left: 57px;
            border: 1px solid rgba(0,0,0,1);
            box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
            overflow: hidden;
          }
          .v31_414 {
            width: 142px;
            height: 145px;
            background: url("../images/v31_414.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 677px;
            left: 234px;
            overflow: hidden;
          }
          .v31_416 {
            width: 146px;
            height: 145px;
            background: url("../images/v31_416.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 677px;
            left: 429px;
            overflow: hidden;
          }
          .v45_89 {
            width: 550px;
            height: 371px;
            background: url("../images/v45_89.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 1483px;
            left: 800px;
            overflow: hidden;
          }
          .v35_432 {
            width: 550px;
            height: 371px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            border: 1px solid rgba(0,0,0,1);
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            overflow: hidden;
          }
          .v35_431 {
            width: 487px;
            height: 267px;
            background: url("../images/v35_431.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 36px;
            left: 31px;
            overflow: hidden;
          }
          .v31_400 {
            width: 174px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_418 {
            width: 181px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 67px;
            left: 0px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_419 {
            width: 162px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 67px;
            left: 325px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_422 {
            width: 190px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 118px;
            left: 0px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_423 {
            width: 162px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 125px;
            left: 325px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 36px;
            opacity: 1;
            text-align: center;
          }
          .v31_425 {
            width: 226px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 214px;
            left: 0px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 45px;
            opacity: 1;
            text-align: left;
          }
          .v31_426 {
            width: 203px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 214px;
            left: 284px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 45px;
            opacity: 1;
            text-align: center;
          }
          .name {
            color: #fff;
          }
          .name {
            color: #fff;
          }
          .v35_435 {
            width: 137px;
            height: 137px;
            background: url("../images/v35_435.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 1483px;
            left: 58px;
            border: 1px solid rgba(0,0,0,1);
            box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
            overflow: hidden;
          }
          .v35_437 {
            width: 137px;
            height: 137px;
            background: url("../images/v35_437.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 1483px;
            left: 243px;
            overflow: hidden;
          }
          .v35_439 {
            width: 137px;
            height: 137px;
            background: url("../images/v35_439.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 1483px;
            left: 429px;
            overflow: hidden;
          }
          .v35_440 {
            width: 381px;
            height: 119px;
            background: rgba(152,213,205,1);
            opacity: 1;
            position: absolute;
            top: 1735px;
            left: 58px;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
            overflow: hidden;
          }
          .v35_441 {
            width: 313px;
            color: rgba(34,17,7,1);
            position: absolute;
            top: 1774px;
            left: 92px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 48px;
            opacity: 1;
            text-align: center;
          }
          .v49_290 {
            width: 100%;
            height: 101px;
            background: url("../images/v49_290.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;
          }
          .v49_291 {
            width: 100%;
            height: 101px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
            overflow: hidden;
          }
          .v49_292 {
            width: 233px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 28px;
            left: 990px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 38px;
            opacity: 1;
            text-align: left;
          }
          .v49_293 {
            width: 148px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 27px;
            left: 826px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 38px;
            opacity: 1;
            text-align: left;
          }
          .v49_294 {
            width: 75px;
            height: 68px;
            background: url("../images/v49_294.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 1;
            position: absolute;
            top: 14px;
            left: 1206px;
            overflow: hidden;
          }
          .v49_295 {
            width: 67px;
            height: 40px;
            background: url("../images/v49_295.png");
            opacity: 1;
            position: absolute;
            top: 12px;
            left: 8px;
            border: 5px solid rgba(0,0,0,1);
          }
          .v49_296 {
            width: 45px;
            background: url("../images/v49_296.png");
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 10px;
            border: 5px solid rgba(0,0,0,1);
          }
          .name {
            color: #fff;
          }
          .v49_298 {
            width: 12px;
            height: 12px;
            background: url("../images/v49_298.png");
            opacity: 1;
            position: absolute;
            top: 56px;
            left: 10px;
            border-radius: 50%;
          }
          .v49_299 {
            width: 12px;
            height: 12px;
            background: url("../images/v49_299.png");
            opacity: 1;
            position: absolute;
            top: 56px;
            left: 45px;
            border-radius: 50%;
          }
          .v49_300 {
            width: 157px;
            color: url("../images/v49_300.png");
            position: absolute;
            top: 27px;
            left: 58px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 38px;
            opacity: 1;
            text-align: left;
          }
          .v49_301 {
            width: 60px;
            height: 60px;
            background: rgba(196,196,196,1);
            opacity: 1;
            position: absolute;
            top: 21px;
            left: 1328px;
            border-radius: 50%;
          }
          .v49_302 {
            width: 121px;
            color: rgba(0,0,0,1);
            position: absolute;
            top: 27px;
            left: 683px;
            font-family: Roboto;
            font-weight: Regular;
            font-size: 38px;
            opacity: 1;
            text-align: left;
          }
          
    </style>
{% endblock %}
{% block content %}
<div class="v29_358">
    <div class="v29_376">

    </div>
    <span class="v29_377">Cabai Merah</span>
    <span class="v29_378">Rp 35.000</span>
    <span class="v29_379">1 kg</span>
    <span class="v29_382">Checkout</span>
    <span class="v29_390">Metode Pembayaran</span>
    <span class="v31_392">Alamat Pengiriman</span>
    <span class="v31_398">Barang Pesanan</span>
    <span class="v31_393">Jacob Setiadi</span>
    <span class="v31_394">088812345678</span>
    <span class="v31_395">Jl. Jeruk No.200, Pasar Minggu, Jakarta Selatan</span>
    <span class="v31_405">Estimasi pengiriman :</span>
    <span class="v31_406">1 jam</span>
    <span class="v31_408">Rp 30.000</span>
    <span class="v31_407">Biaya pengiriman :</span>
    <span class="v29_391">Metode Pengiriman</span>
    <span class="v29_384">Cari pasar</span>
    <span class="v29_385">></span>
    <span class="v29_386">Pasar Minggu</span>
    <span class="v29_387">></span>
    <span class="v29_388">List Favoirt</span>
    <span class="v29_389">></span>
    <div class="name">

    </div>
    <div class="name">

    </div>
    <div class="name">

    </div>
    <div class="name">

    </div>
    <div class="name">

    </div>
    <div class="v31_412">
        
    </div><div class="v31_414"></div><div class="v31_416"></div><div class="v45_89"><div class="v35_432"></div><div class="v35_431"><span class="v31_400">Total biaya  </span><span class="v31_418">Total harga </span><span class="v31_419">Rp 35.000</span><span class="v31_422">Total ongkir</span><span class="v31_423">Rp 30.000</span><span class="v31_425">Total harga </span><span class="v31_426">Rp 65.000</span><div class="name"></div><div class="name"></div></div></div><div class="v35_435"></div><div class="v35_437"></div><div class="v35_439"></div><div class="v35_440"></div><span class="v35_441">Bayar</span><div class="v49_290"><div class="v49_291"></div><span class="v49_292">List Favorit</span><span class="v49_293">Wishlist</span><div class="v49_294"><div class="v49_295"></div><div class="v49_296"></div><div class="name"></div><div class="v49_298"></div><div class="v49_299"></div></div><span class="v49_300">ehPasar!</span><div class="v49_301"></div><span class="v49_302">History</span></div></div>
{% endblock %}