{% extends 'navbar_1.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ehPasar | Feedback</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Feedback
			</h3>
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
		<div class="col-md-8">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-3">
					 
					<button type="button" class="btn btn-warning">
						Button
					</button>
				</div>
				<div class="col-md-3">
					 
					<button type="button" class="btn btn-danger">
						Button
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}
