{% extends 'navbar_1.html' %}
{% load static %}

{% block title %}
<title>Tambah Barang</title>
{% endblock title %}

{% block nav %}
    <a class="nav-link nav-item" href="#">➕Tambah Barang</a>
    <a class="nav-link nav-item" href="#"><img src="{% static 'img/User.png' %}" alt="" class="logo"></a>
{% endblock %}

{% block content %}
  <br><br><br><br><br>
  <div class="postform">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
{% endblock content %}