{% extends 'navbar_1.html' %}
{% load static %}

{% block title %}
<title>Detail {{namaBarang}}</title>
{% endblock title %}

{% block nav %}
    <a class="nav-link nav-item" href="#">➕Tambah Barang</a>
    <a class="nav-link nav-item" href="#"><img src="{% static 'img/User.png' %}" alt="" class="logo"></a>
{% endblock %}

{% block content %}
    <br><br><br><br>
    <h3>Nama Barang : {{namaBarang}}</h3>
    <h3>Jumlah Stok : {{jumlahStok}} kg</h3>
    <h3>Harga Barang: Rp{{hargaBarang}}/kg </h3>
    <br>
    <h3>Deskripsi: </h3>
    <p>{{deskripsiBarang}}</p>
    <h5 style="text-align: center;">
        <a class="btn btn-success" href="{% url 'manajemenpasar:index'%}" title="">
            Back
        </a>
    </h5>
{% endblock %}